body, html {
    height: 100%;
    font-family: "Times New Roman",sans-serif;
}
.paragraph {
    text-align: center;
}
h1 {
    font-size: xxx-large;
    color: indianred;
}
h2 {
    font-size: x-large;
    color: grey;
}
h3 {
    font-size: x-large;
    color: black;
}

.carousel {
    width: 100%;
    height: 75vw;
    overflow: hidden;
}
.carousel-caption {
    top: 35%;
    bottom: auto;
    background-color: aquamarine;
}
.logo {
    height: 20%;
    width: 20%;
}

.card-img {
    object-fit: cover;
    height: 300px;
}
footer,header,.form-control, .comments {
    font-size: x-large;
}
form, .form-label-group{
    font-size: xx-large;
}
h4{
    font-size: xxx-large;
}
h1:hover{
    font-size: xxx-large;
    color: black;
}
.dropdown-item:hover {
    background-color: mediumseagreen;
}
.btn, .text-muted {
    font-size: large;
}
.card{
    font-style: italic;
    font-size: x-large;
}
.card-img:hover, .card-body:hover {
    box-shadow: 0 0 2px 2px rgba(0, 170, 120, 100);
}
.card-img:hover{
    -webkit-filter: sepia(25%);
}
.message, .message2 {
    visibility: hidden;
}
.bi-heart, .bi-heart-fill{
   font-size: large;
    color: seagreen;
}
.heart.btn-outline-dark:hover, .heart.btn-outline-dark:hover{
    background-color: lightgreen;
}
.plus.btn-outline-dark:hover {
  background-color: seagreen;
}
.plus{
    border-radius: 45%;
}
div{
    word-wrap:break-word
}
